<% provide(:title, "Home") %>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-3" >
    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <ul class="nav nav-tabs">
              <li  class="active"><a data-toggle="tab" href="#">Cho thue</a>
              </li>
              <li><a data-toggle="tab" href="#">Can thue</a>       
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane fade in active">
              <ul>
                <%= link_to '#' do %>
                <span class="glyphicon glyphicon-folder-close" ></span>
                Phong tro 
                <% end %>      
                </br>
                <%= link_to '#' do %>
                <span class="glyphicon glyphicon-home" ></span>
                Nha o 
                <% end %>                                                      
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6" style="margin-left: -45px;margin-right: -70px; ">
    <div class="panel panel-danger">
      <div class="panel-heading" style="text-align: center; font-size: 20px; ">
        Listing Posts
      </div>
      <table class="table table-striped">
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td><%= link_to gravatar_for(post.user, size: 50), post.user %></td>
            <td><%= Category.find_by_id(post.category_id).name %></br>
              <%= link_to post.title, post %>
            </td>
            <td >
              Posted <%= time_ago_in_words(post.created_at) %> ago.
            </td>
            <td>     
              <i class="glyphicon glyphicon-triangle-top"></i> &nbsp <%= post.thumbs_up_total %>
              <i class="glyphicon glyphicon-thumbs-bottom"></i> &nbsp <%= post.thumbs_down_total %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div style="width: 300px; margin: 0 auto;">
        <%= will_paginate @posts%> 
      </div>
    </div>
  </div>

  

  <div class="col-md-3">
  </div>
</div>
<br>