<% provide(:title, "Home") %>
<%= render 'layouts/navigation' %>  
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <%= form_tag '/list_post',id: "form_category",method: "get", multipart: true do %>
      <div class="form-group">
        <div class="row">
          <div class="col-md-1">
            <label id="label_category" for="section_category">Loại:</label> 
          </div>
          <div class="col-md-2">
            <%= select_tag "category_id", 
              options_from_collection_for_select(Post.list_categories, "id", "name", params[:category_id].to_i),
              onchange: 'this.form.submit()', 
              id: "section_category", 
              class: 'form-control',
              :include_blank => 'All categories' %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <!-- <form  method="get" action="/list_post">
        <input  name="q" type="text" size="15" placeholder="Type here..." />
        <input id="button-submit" type="submit" value="Search" />
      </form> -->
      <%= form_tag list_post_path, :method => 'get', :id => 'post_search' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
      <% end %>
    </div>
  </div>
</div>