<% provide(:title, "Home") %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-2">
    
  </div>
  <div class="col-md-8">
    <table class="table table-striped">
      <caption><h1>Listing Posts</h1></caption>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
               <td><%= link_to gravatar_for(post.user, size: 50), post.user %></td>
              <td><%= post.type_post %></td>
              <td><%= link_to post.title, post %></td>
              <td >
                    Posted <%= time_ago_in_words(post.created_at) %> ago.
              </td>
              <td><%= link_to 'Edit', edit_post_path(post) %></td>
              <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  <div class="col-md-2">
    
  </div>
</div>

<br>



