<p id="notice"><%= notice %></p>

<h1>Listing Catelories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @catelories.each do |catelory| %>
      <tr>
        <td><%= catelory.name %></td>
        <td><%= link_to 'Show', catelory %></td>
        <td><%= link_to 'Edit', edit_catelory_path(catelory) %></td>
        <td><%= link_to 'Destroy', catelory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Catelory', new_catelory_path %>
