<%= form_for [@post, @post.commends.build], remote: true do |f| %>
<% if @post.errors.any? %>
<div class="alert alert-danger">
  <h4>There are <%= pluralize(@post.errors.count, "error") %>.</h4>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= form_group_tag(@post.errors[:body]) do %>
<%= f.label :body %>
<%= f.text_area :body, rows: 1, class: 'form-control', placeholder: "Enter comment" %>
<% end %>
<div class="form-group">
  <%= f.submit "Save", class: 'btn btn-success' %>
</div>
<% end %>
<h3 >Comments</h3>
<% @post.commends.each do |comment| %>
<td>
<td>
  <strong><%= User.find_by(id: comment.user_id).name %>:</strong>
  <%= comment.review %><br>
  <% if current_user.present?%>
  <%= link_to 'Remove', [@post,comment], method: :delete, data: { confirm: 'Are you sure?' } if current_user.role_id==1 or current_user && current_user.id == comment.user_id %><br>
  <%end%>
  <% end %>
  <% if current_user.present?%>
  <h2>Add a comment:</h2>
  <div class="widget-area no-padding blank">
    <div class="status-upload">
      <%= form_for([@post, @post.commends.build]) do |f| %>
      <p>
        <%= f.label :review%><br>
        <%= f.text_area :review %>
      </p>
      <p><%= f.submit class: "btn btn-success green" %></p>
      <% end %>
    </div>
  </div>
  <% else%>
  <p><%= link_to "Please sign in to comment!", login_path%>
  <p>
    <% end%>