<%= form_tag posts_path, :method => 'get'  %>
  <div class="col-md-3">    
    <%= text_field_tag :search, params[:search], placeholder: "enter anything"  %>
  </div>
  <div class="col-md-3">
    <%= text_field_tag :min_price, params[:min_price], placeholder: "min price"  %>
  </div>
  <div class="col-md-2">
    <%= text_field_tag :max_price, params[:max_price], placeholder: "max price"  %>
  </div>
  <div class="col-md-1"> 
    <%= submit_tag "Tìm" , class: "btn btn-danger" %>
  </div>
