<% provide(:title, "Home") %>
<%= render 'layouts/navigation' %>  
<div class="container">
  <div class="row">
   <div class="col-md-3">
      <%= form_tag '/list_post',id: "form_category",method: "get", multipart: true do %>
            <%= select_tag "category_id", 
              options_from_collection_for_select(Post.list_categories, "id", "name", params[:category_id].to_i),
              onchange: 'this.form.submit()', 
              id: "section_category", 
              class: 'form-control',
              :include_blank => 'All categories' %>
      <% end %>
    </div> 
      <%= render  'search' %>
    </div>
  <div id="posts">
    <%= render 'posts' %>
  </div>
</div>