<% provide(:title, "Post") %>
<p id="notice"><%= notice %></p>
<p>
<div class="row">
   <div class="col-md-2">
   </div>
   <div class="col-md-8">
      <div class="panel panel-danger">
         <div class="panel-heading">
            <h3 class="panel-title"><%= @post.title %></h3>
         </div>
         <div class="panel-body">
            <%= image_tag @post.picture.url if @post.picture? %>
            </br>
            <span><%= @post.type_post %></span>
            </br>
            <span><%= @post.area %></span>
            </br>
            <span><%= @post.desc %></span>
            </br>
            <span><%= @post.price %></span>
            </br>
            <span><%= @post.address %></span>
            </br>
            <span class="timestamp">        
            Posted <%= time_ago_in_words(@post.created_at) %> ago.
            </span>
         </div>
<!--          <% @users.each do |user| %>
          <%= user.user_id%>
          <%end%> --> 
         <%= link_to @post.thumbs_up_total, '#' %>
         <% if @like_post == 1 %>
         <%= link_to like_post_path(@post, like: true), class: "not-active", method: :post do %>    
         <i class="glyphicon glyphicon-thumbs-up"></i>
         <% end %>
         <% else %> 
         <%= link_to like_post_path(@post, like: true), method: :post do %>
         <i class="glyphicon glyphicon-thumbs-up"></i>
         <% end %>
         <% end %>
         &nbsp&nbsp&nbsp&nbsp 
         <%= @post.thumbs_down_total %>
         <% if @like_post == -1 %>
         <%= link_to like_post_path(@post, like: false), class: "not-active", method: :post do %>    
         <i class="glyphicon glyphicon-thumbs-down"></i>
         <% end %>
         <% else %> 
         <%= link_to like_post_path(@post, like: false), method: :post do %>    
         <i class="glyphicon glyphicon-thumbs-down"></i> 
         <% end %>
         <% end %>
      </div>
   </div>
   <div class="col-md-2">
   </div>
</div>

<div id="panel">
      <input id="address" type="textbox" value="<%=@post.address%>">
      <input type="button" value="Geocode" onclick="codeAddress()">
    </div>
    <div id="map-canvas">
    <script type="text/javascript"> initialize(); </script>
    </div>
</div>