<div id="decorative2">
   <div class="container">
      <div class="divPanel topArea notop nobottom">
         <div class="row-fluid">
            <div class="span12">
               <div id="divLogo" class="pull-left">
                  <!-- <a href="index.html" id="divSiteTitle">TimTroNhanh</a><br /> -->
                  <%= link_to "TimTroNhanh", root_url , id: "divSiteTitle" %>
               </div>
               <div id="divMenuRight"  class="pull-right">
                  <div class="navbar">
                     <div class="nav-collapse collapse" style="display: block">
                        <ul class="nav nav-pills ddmenu">
                           <li class="dropdown">
                              <%= link_to list_post_path  do %>
                                 <span class="glyphicon glyphicon-home"></span>
                                 Trang chủ
                              <% end %>
                           </li>
                           <% if logged_in? %>
                           <li class="dropdown">
                              <a href="#" class="dropdown-toggle " data-toggle="dropdown" style="padding-right: 20px; padding-left: 20px;">
                              <%= gravatar_for current_user, :size => 20 %>
                              <%= current_user.name %> 
                              <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                 <li><%= link_to "Tài khoản", current_user %></li>
                                 <li><%= link_to "Cài đặt", edit_user_path(current_user) %></li>
                                 <li class="divider"></li>
                                 <li>
                                    <%= link_to "Thoát", logout_path, method: "delete" %>
                                 </li>
                              </ul>
                           </li>
                           <% else %>
                           <li class="dropdown ">
                              <%= link_to login_path do %>
                              <span class="glyphicon glyphicon-user" data-toggle="modal" data-target="#login-modal"></span>
                              Đăng nhập
                              <% end %>
                           </li>
                           <% end %>
                           <li class="dropdown">
                              <% if logged_in? %>           
                              <%= link_to new_post_path  do %>
                              <span class="glyphicon glyphicon-pencil"></span>
                              Đăng bài
                              <% end %>
                              <% else %>
                              <%= link_to  signup_path do %>
                              <span class="glyphicon glyphicon-pencil"></span>
                              Đăng ký
                              <% end %>
                              <% end %>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>